body {
    color: #333;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    background-color: #F0EFED;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

div#header {
    margin-bottom: 20px;
    padding: 12px 0px 0px 0px;
    border-bottom: solid 2px #ABAFB3;
}

a {
  text-decoration: none;
  color : #77a7a7;
}

a:visited{
  color : #ffc0cb;
}

div#logo {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  color: #77A7A7;
}

div#logo a {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    color: #77A7A7;
    font-size: 50px;
    font-weight: bold;
    font-family: 'simplifica';
    text-decoration: none;
}

div#footer {
    border-top: solid 2px #ABAFB3;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
    margin-right: auto;
    /*width: 12em;*/
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

hr.section-break {
    overflow: visible;
    /* For IE */ padding: 0;
    border: none;
    border-top: medium double #c3dedf;
    color: #ffc0cb;
    text-align: center;
}
 
hr.section-break:after {
   content: "\25C8";
   display: inline-block;
   position: relative;
   top: -0.7em;
   font-size: 1.5em;
   padding: 0 0.25em;
   background: transparent;
}

@font-face {
  font-family: 'simplifica';
  src: url('/static/simplifica.ttf') format('truetype');
       url('/static/simplifica.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/simplifica.woff') format('woff'), /* Pretty Modern Browsers */
}

