<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=[widest centered div];"/>
        <title>$title$ - Ennui & Me</title>
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async
          src="https://www.googletagmanager.com/gtag/js?id=UA-115020983-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-115020983-1');
        </script>



        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
          <div id="logo">
            <a href="/">ENNUI & ME</a>
          </div>
        </div>

        $body$

        <div id="footer"></div>
    </body>
</html>
